@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(0, 0%, 98%);
}

.dark {
	background-color: #121212;
	color: hsl(0, 0%, 100%);
}
.light {
	background-color: hsl(0, 0%, 98%);
	color: hsl(200, 15%, 8%);
}
.scroll::-webkit-scrollbar {
	display: none;
}

.scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.no-scroll {
	overflow: hidden;
}
.add-scroll {
	overflow: auto;
}

.circle {
	border-radius: 50%;
	animation: move 400ms linear 0ms infinite;
	margin-right: 30px;
}
.circle:first-child {
	position: absolute;
	top: 0;
	left: 0;
	animation: grow 400ms linear 0ms infinite;
}

.circle:last-child {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 0;
	animation: grow 400ms linear 0s infinite reverse;
}

@keyframes grow {
	from {
		transform: scale(0, 0);
		opacity: 0;
	}
	to {
		transform: scale(1, 1);
		opacity: 1;
	}
}

@keyframes move {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(45px);
	}
}
